.game {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  font-family:Georgia, 'Times New Roman', Times, serif, Arial, sans-serif;
  .board {
    width: 304px;
    height: 304px;
    background-color: rgba(250, 246, 246, 0.06);
    border: 1px solid #09d4ef;
    .row {
      display: flex;
    }
  }
}
