.side-view {
  h1 {
    color: white;
  }
  .avatar {
    font-size: 96px;
  }

  .status {
    font-size: 24px;
    font-weight: 500;
    &.win {
      color: #1cbb0e;
    }
    &.lose {
      color: #bb0e0e;
    }
  }
}
